<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameGarage Menu</title>
    <script src="https://unpkg.com/kontra@10.0.2/kontra.min.js"></script>
    <style>
        canvas {
          display: block;
          margin: 0 auto;
          background: BlanchedAlmond;
        }
    </style>
</head>
<body>
<canvas id="gameCanvas" width="1000" height="1000"></canvas>
<script type="module" src="/static/controller.js"></script>
<script>

const { init, Text, GameLoop, keyPressed, initKeys, Scene, Sprite, imageAssets, load, initPointer } = kontra;

class SceneManager {
    constructor() {
      this.scenes = {};
      this.current = null;
    }

    add(scene) {

        this.scenes[scene.id] = scene;
        if(this.scenes.length === 1){
            this.current = scene
        }

    }

    setScene(id) {


      if(this.current != null){
        this.current.hide();
      }
      console.log("inside set scene: " + id)

      console.log(JSON.stringify(this.scenes));
      this.current = this.scenes[id];
      this.current.show();

    }

    update(dt=1 / 60) {
      this.current?.update(dt);
    }
    render() {
      //console.log('menuScene.render');
      this.current?.render();
    }
}

let { canvas, context } = init('gameCanvas');
initKeys();
initPointer();

let menuText = Text({ x: 100, y: 50, text: 'Welcome to GameGarage!', font:'24px sans-serif', color:'black' });

let games =  {{templates}}
console.log(games);
let assets = [];
for (let game of games) {
    assets.push(`/games/${game}/${game}screenshot.png`);
}

load(...assets).then(() => {
  let options = [];
  let gameScreenshots = [];


  for (let i = 0; i < games.length; i++) {
    const imagePath = `/games/${games[i]}/${games[i]}screenshot.png`;
    const image = imageAssets[imagePath];

    const targetWidth = 150;
    const scale = targetWidth / image.width;

    if (!image) console.warn('Image not found:', imagePath);

    options.push(Text({
      x: 50 + 200 * i,
      y: 100,
      text: (i + 1) + ': ' + games[i],
      font: '18px sans-serif',
      color: 'black'
    }));

    gameScreenshots.push(Sprite({
      x: 50 + 200 * i,
      y: 200,
      width: 128,
      height: 128,
      image: image,
      scaleX: scale,
      scaleY: scale
    }));
  }


        // menu scene
        let menuScene = Scene({
        id: 'menu',
        render() {
          context.clearRect(0,0,canvas.width,canvas.height);
          menuText.render();
          gameScreenshots.forEach(screenshot => screenshot.render());
          options.forEach( option => option.render());
        },
            update() {
              if (keyPressed('1')){
                loadGame(games[0]);
              }
              if (keyPressed('2')){
                loadGame(games[1]);
              }
            }
        });



let sceneManager = new SceneManager();
sceneManager.add(menuScene);
sceneManager.setScene('menu');



console.log('Canvas:', canvas, 'Context:', context);
console.log('SceneManager initial:', sceneManager);



function loadGame(name) {
    import(`./games/${name}/${name}.js`).then(module => {
        console.log(name);
        console.log("inside the promise for the import statement");
        let scene = module.default({ canvas: canvas, context: context, name: name, kontra: kontra});
        console.log("before setting scene");
        console.log(scene.id)
        console.log("not added yet");
        sceneManager.add(scene);
        console.log("finished adding scene");
        sceneManager.setScene(name);
        console.log("set the scene");
      }).catch(err => console.error('Failed to load:', name, err));
}

GameLoop({
    update(){
        sceneManager.update()
        //console.log(sceneManager.current.id);
    },
    render(){
        sceneManager.render()
    }
}).start();


});

</script>
</body>
</html>